<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : mapper 파일을 구분할 수 있는 고유 식별자 -->
<!-- 이름을 지정해줄 때 DAO 클래스 파일명과 일치시키는 경우가 많음 -->
<mapper namespace="com.model.reco_for_training_infoDAO">
<!-- parameterType : alias 지정했는지 확인할 것 -->

<select id="training_score_init"
resultType="com.model.reco_for_training_infovo">
select training_index , training_part,training_equip,training_dif 
from training_info
</select>

<select id="reco_one_yesterday_training_parts" resultType="String">
	select ti.training_part 
	from training_info ti join userid_training_list utl 
	on ti.training_name = utl.training_name 
	where to_char(utl.training_date,'YY/MM/DD') like sysdate-1 and utl.user_id=#{user_id}
</select>

<select id="reco_two_yesterday_training_parts" resultType="String">
	select ti.training_part 
	from training_info ti join userid_training_list utl 
	on ti.training_name = utl.training_name 
	where to_char(utl.training_date,'YY/MM/DD') like sysdate-2 and utl.user_id=#{user_id}
</select>


</mapper>