.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  width: 100%;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 600px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: auto;
  font-weight: 700;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-3 {
  width: auto;
  font-weight: 700;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  width: 41px;
  font-weight: 700;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-6 {
  width: auto;
  font-weight: 700;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-8 {
  width: 41px;
  font-weight: 700;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-9 {
  width: auto;
  font-weight: 700;
  margin: 0 auto 0 11px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 29px;
    margin-top: 11px;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1047px;
  }

  .u-section-1 .u-image-1 {
    width: 200px;
    height: 200px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -7px;
  }

  .u-section-1 .u-text-2 {
    width: 41px;
  }

  .u-section-1 .u-image-2 {
    width: 200px;
    height: 200px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -7px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-1 .u-image-3 {
    width: 200px;
    height: 200px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -7px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 11px;
  }
}